{% extends 'base.html' %}
{% block content %}
    <div class="background_your_food">
    </div>
    <div class="insert_your_food">
        <h2 class="title">Sélectionner votre aliment:</h2>
    </div>
    <div class="blank">
    </div>
    <div class="container-element">
        {% for product in data %}
        <div class="element">
            <div class="e">
                <div class="poster">
                    <img class="image" src="{{ product.image }}">
                    <div class="label"> {{ product.ecoscore }}</div>
                </div>
                <div class="name"> {{ product.name }} </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}