{% extends 'base.html' %}
{% block content %}
<header class="masthead">
    <div class="container-head h-80">
        <div class="row gx-4 gx-lg-5 h-80 align-items-center justify-content-center">
            <div class="title">
                <h1>Logger vous</h1>
            </div>
            <div>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="button" type="button" value="Envoyer">
                </form>
            </div>
        </div>
    </div>
</header>
{% endblock %}